---
import BaseLayout from '../layouts/BaseLayout.astro';

const identity = {
    firstName: "Enrico",
    country: "Brazil",
    occupation: "IT Intern at Itaú Unibanco",
    hobbies: ["DJ", "programming", "reader" ]
}

const skills = ["Vault Hashicorp", "Go", "Python", "AWS", "IAM", "DevOps", "Linux"]


---
<BaseLayout pageTitle="About Me" >
    <p>Here a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country} and i work as a {identity.occupation}</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]
                }</li>}
            <p>My skills are:</p>
            <ul>
                {skills.map((skill) => <li>{skill}</li>)}
            </ul>
        </ul>
</BaseLayout>